@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
}
.subheader3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14.63px;
  text-transform: uppercase;
  color: #1F2041;
}

.text-content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.logo {
  position: relative;
  width: 105.69px;
  height: 40px;
  display: flex;
}
.logo-pict {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.logo-pict-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #FFF;
}
.logo-pict-left {
  position: absolute;
  width: 11.76px;
  height: 11.76px;
  border-radius: 0 23.52px 0 0;
  top: 14.29px;
  left: 8.41px;
}
.logo-pict-left-white {
  background: #FFF;
  top: 2px;
  left: -2px;
  border-radius: 0 22.52px 0 0;
}
.logo-pict-right {
  position: absolute;
  width: 11.76px;
  height: 11.76px;
  border-radius: 23.52px 0 0 0;
  top: 14.29px;
  right: 8.41px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.logo-pict-right-white {
  top: 2px;
  left: 2px;
  border-radius: 22.53px 0 0 0;
  background: #FFF;
}
.logo-pict-cont1 {
  position: relative;
  width: 11.76px;
  height: 5.85px;
  top: 5.51px;
  background: #FFF;
}
.logo-pict-cont2 {
  position: absolute;
  width: 2.64px;
  height: 5.91px;
  right: 8.0px;
  background: #FFF;
}
.logo .toxin {
  margin: auto;
  margin-right: 0px;
}

.footer-menu {
  list-style-type: none;
  margin-left: -40px;
  text-transform: none;
  text-decoration: none;
}
.footer-menu-elem {
  height: 18px;
  margin-bottom: 20px;
}
.footer-menu-elem-first {
  margin-top: 21px;
  margin-bottom: 20px;
}
.footer-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  text-transform: none;
  text-decoration: none;
}
.footer .main-footer {
  height: 372px;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
}
.footer .main-footer-description {
  max-width: 260px;
  padding: 1em;
  margin: auto;
  margin-left: 9.72%;
  margin-top: 104px;
}
.footer .main-footer-navigation {
  max-width: 143px;
  padding: 1em;
  margin: auto;
  margin-top: 104px;
}
.footer .main-footer-about {
  max-width: 108px;
  padding: 1em;
  margin: auto;
  margin-top: 104px;
}
.footer .main-footer-support {
  max-width: 149px;
  padding: 1em;
  margin: auto;
  margin-top: 104px;
}
.footer .main-footer-subscribe {
  max-width: 260px;
  padding: 1em;
  margin: auto;
  margin-top: 104px;
  margin-right: 9.72%;
}
.footer .copyright {
  display: flex;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.footer .copyright-text {
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
  position: relative;
  margin: auto;
  margin-left: 9.72%;
}
.footer .copyright-sn-link {
  height: 23px;
  margin: auto;
  margin-left: 10.5px;
  margin-right: 10.5px;
}
.footer .copyright-sn-link_right {
  height: 23px;
  margin: auto;
  margin-left: 10.5px;
  margin-right: 9.72%;
}
