logo
	.logo
		.logo.logo-pict
			.logo-pict-circle
				.logo-pict-right
					.logo-pict-cont2
					.logo-pict-cont1
					.logo-pict-right.logo-pict-right-white
				.logo-pict.logo-pict-left
					.logo-pict-left.logo-pict-left-white
		img.toxin(src="../image/toxin.png" alt="toxin")


