head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="../css/footer.css")
footer
	.footer
		.main-footer
		.copyright
			p.copyright-text
				|Copyright © 2018 Toxin отель. Все права защищены.
			.copyright-icons
				img(src='../image/twitter-icon.png')
				img(src='../image/fb-icon.png')
				img(src='../image/ig-icon.png')