html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="../css/ui-kit.css")
		tittle UI-Kit
	body
		.footer
			.main-footer
				.main-footer-description
					include ../modules/logo
					p.text-content
						| Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
				.main-footer-navigation
					h3.subheader3
						| навигация
				.main-footer-about
					h3.subheader3
						| о нас
				.main-footer-support
					h3.subheader3
						| служба поддержки
				.main-footer-subscribe
					h3.subheader3
						| подписка
					p.text-content
						| Получайте специальные предложения и новости сервиса
			.copyright
				p.copyright-text
					| Copyright © 2018 Toxin отель. Все права защищены.
				img.copyright-sn-link(src="../image/twitter-icon.png" href="http://my-link.rr" alt="twitter")
				img.copyright-sn-link(src="../image/fb-icon.png" href="http://my-link.rr" alt="facebook")
				img.copyright-sn-link_right(src="../image/ig-icon.png" href="http://my-link.rr" alt="instagram")

